.cart {
  position: absolute;
  width: 500px;
  top: 100%;
  right: 0;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
  padding: 20px;
  border-radius: 9px;
  @include mobile {
    width: unset;
  }
  &__wrap {
    position: relative;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    @include mobile {
      font-size: 22px;
    }
  }
  &__close {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 1px;
      background-color: #000000;
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cart__item {
  display: flex;
  gap: 15px;
  &:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
  }
  &-image {
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &-key {
    font-weight: 700;
  }
}
