.subscribe {
  padding-bottom: 100px;
  .container {
    background: center / cover url('/images/backgrounds/spices.jpg') no-repeat;
    border-radius: 9px;
    padding: 90px 20px 60px;
  }
  .section__title {
    color: $colorLight;
    max-width: 70%;
    margin: 0 auto 40px;
  }
  &__form {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .input-field {
    width: 100%;
    font-size: 20px;
    padding: 20px 90px 20px 20px;
    border-radius: 9px;
    border: none;
    outline: none;
  }
  .input-field.error {
    border: 2px solid red;
  }
  .input-errors {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .input-error-msg {
    color: #fff;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      transform: unset;
    }
    img {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  &__button-text {
    @include mobile {
      display: none;
    }
  }
  .registration__success {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 9px;
  }
}
