.subscribe {
  padding-bottom: 100px;
  .container {
    background: center / cover url('../src/assets/images/backgrounds/s.jpg') no-repeat;
    border-radius: 9px;
    padding: 80px 20px 100px;
  }
  .section__title {
    color: $colorLight;
    margin-bottom: 60px;
  }
  &__form {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &__input {
    width: 100%;
    font-size: 20px;
    padding: 20px 90px 20px 20px;
    border-radius: 9px;
    border: none;
    outline: none;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background-color: $colorGreen;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 9px;
    cursor: pointer;
    text-transform: uppercase;
    img {
      display: none;
    }
  }
}
